[Desktop Entry]
Type=Application
Exec=x-www-browser /usr/share/aptosid-manual/index.html
Icon=aptosid-manual
Name=aptosid manual
Name[bg]=aptosid Manual
Name[da]=aptosid Manual
Name[de]=aptosid Handbuch
Name[el]=Εγχειρίδιο aptosid
Name[en_GB]=aptosid Manual
Name[en_US]=aptosid Manual
Name[es]=Manual de aptosid
Name[fr]=Manuel de aptosid
Name[hr]=aptosid Priručnik
Name[hu]=aptosid Manual
Name[it]=Manuale di aptosid
Name[ja]=aptosid Manual
Name[nl]=aptosid Handleiding
Name[pl]=Podręcznik aptosid
Name[pt]=Manual do aptosid
Name[pt_BR]=Manual do aptosid
Name[ro]=aptosid Manual
Name[ru]=aptosid руководство
Name[uk]=aptosid керіництво
Categories=Utility;Documentation;
